<p id="notice"><%= notice %></p>

<h1>Category Productos</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_productos.each do |category_producto| %>
      <tr>
        <td><%= category_producto.producto %></td>
        <td><%= category_producto.category %></td>
        <td><%= link_to 'Show', category_producto %></td>
        <td><%= link_to 'Edit', edit_category_producto_path(category_producto) %></td>
        <td><%= link_to 'Destroy', category_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Producto', new_category_producto_path %>
