<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @category_producto.producto %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category_producto.category %>
</p>

<%= link_to 'Edit', edit_category_producto_path(@category_producto) %> |
<%= link_to 'Back', category_productos_path %>
