<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag('ferreteria-palalia1.jpeg', class:"swiper-img") %>
      <%= image_tag('ferreteria-palalia-trans.png', class:"imagen-encima swiper-img") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('ferreteria-palalia2.jpeg', class:"swiper-img") %>
      <%= image_tag('ferreteria-palalia-trans.png', class:"imagen-encima swiper-img") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('ferreteria-palalia3.jpeg', class:"swiper-img") %>
      <%= image_tag('ferreteria-palalia-trans.png', class:"imagen-encima swiper-img") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('ferreteria-palalia4.jpeg', class:"swiper-img") %>
      <%= image_tag('ferreteria-palalia-trans.png', class:"imagen-encima swiper-img") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('ferreteria-palalia5.jpeg', class:"swiper-img") %>
      <%= image_tag('ferreteria-palalia-trans.png', class:"imagen-encima swiper-img") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag('ferreteria-palalia6.jpeg', class:"swiper-img") %>
      <%= image_tag('ferreteria-palalia-trans.png', class:"imagen-encima swiper-img") %>
    </div>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    effect: 'fade',
  });
  swiper.autoplay.start();
</script>
