<div class="producto-show">
  <h1 class="text-center text-primary">Información del producto</h1>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-5">
      <%= image_tag(@producto.imagen.thumb.url, class:"img-center") %>
    </div>
    <div class="col-12 col-sm-7">

      <table class="table table-borderless table-sm">
        <tr>
          <th><h4>Nombre</h4></th>
          <td><h3><%= @producto.nombre %></h3></td>
        </tr>
        <tr>
          <th><h4>Precio</h4></th>
          <td><h3><%= number_to_currency(@producto.precio) %></h3></td>
        </tr>
        <tr>
          <th><h4>Unidad de venta por precio</h4></th>
          <td><h3>x <%= @producto.medida %></h3></td>
        </tr>
      </table>
      <h3>Categoría(s) a que pertenece: </h3>
      <ul class="text-capitalize">
        <% @producto.categories.each do |cat| %>
          <li class="item-show"><b><%= cat.nombre %></b></li>
        <% end %>
      </ul>

      <hr class="rule-show">
      <%= link_to 'Actualizar producto', edit_producto_path(@producto), class:"btn btn-info" %> |
      <%= link_to 'Eliminarlo', @product, method: :delete, data: { confirm: '¿Estás seguro de eliminarlo?'}, class:"btn btn-danger"  %>
    </div>
  </div>
</div>
