<%= render 'shared/errors', obj: category %>

<%= form_with(model: category, local: true) do |form| %>

  <div class="field">
    <%= form.label :nombre, 'Nombre de categoría' %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear categoría' %>
  </div>
<% end %>
