<div class="devise-center">
  <h1 class="text-center">Lista de Categorías</h1>
  <% @categories.each do |category| %>
    <div class="row <%= cycle('list_line_odd', 'list_line_even') %>">
      <div class="col-sm-6">
        <%= link_to category.nombre, category %>
      </div>
      <div class="col-sm-2">
        <%= link_to 'Ver', category %>
      </div>
      <div class="col-sm-2">
        <%= link_to 'Editar', edit_category_path(category) %>
      </div>
      <div class="col-sm-2">
        <%= link_to 'Eliminar', category, method: :delete, data: { confirm: '¿Estás seguro?' } %>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to 'Crear Categoría', new_category_path %>
</div>
